messages {
  overflow-y: auto;
  background: #ffffff;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 0 0 auto;
  width: 400px;
  max-height: 100%;

  ul {
    padding-left: 0;

    li {
        outline: none;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        -webkit-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 1 130px;
        flex: 0 1 130px;
        display: -webkit-box;
        display: box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        white-space: nowrap;
        transition: 100ms ease-in-out;
        min-height: 1.5em;
        padding: 20px 15px;
        border-bottom: 2px solid $third-color;
        border-right: 2px solid $third-color;

        &.active {
          background: $fourth-color;
          color: #ffffff;
        }
    }
  }

  .message-sender, .message-subject {
    font-size: 15px;
    font-weight: 500;
  }

  .message-time {
    float: right;
    font-size: 13px;
    font-weight: 300;
  }

  .message-message {
    word-break: break-all;
    white-space: normal;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
  }

  .message-unread {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 2px solid #3AB25C;
    position: absolute;
    right: 65px;
    top: 23px;
  }

  p {
    margin-bottom: 0;
  }
}