<ul>
  <li ng-repeat="message in data track by $index" ng-class="{'active': methods.isSelected(message.uid)}" ng-click="methods.select(message)">

    <i class="fa fa-times-circle message-delete" tooltip="Delete" ng-click="methods.delete($event, message)"></i>
    <i class="message-unread" ng-if="message.read === false" tooltip="New"></i>

    <p>
      <span ng-if="attrs.type === 'inbox'" ng-bind="message.sender" class="message-sender"></span>
      <span ng-if="attrs.type === 'sent'" ng-bind="message.to" class="message-sender"></span>
      <span ng-bind="message.time_sent | amDateFormat:'ddd DD MMM, HH:mm'" class="message-time"></span>
    </p>

    <p ng-bind="message.subject" class="message-subject"></p>

    <p class="message-message">
      {{ message.message | limitTo:110 }}...
    </p>
  </li>
</ul>