messages {
  ul {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: 0 0 auto;
    width: 300px;
    background: #ffffff;
    padding-left: 0;
    overflow-y: scroll;
    height: 100vh;

    li {
        outline: none;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        -webkit-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 1 100px;
        flex: 0 1 200px;
        display: -webkit-box;
        display: box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        white-space: nowrap;
        transition: 100ms ease-in-out;
        min-height: 1.5em;
    }
  }
}