message-viewer {
  min-width: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px;


  .message-subject {
    font-weight: 400;
  }

  .user-logo {
    height: 80px;
  }

  .message-time {
    float: right;
    font-weight: 300;
    font-size: 16px;
  }

  .message-sender {
    font-size: 20px;
    font-weight: 400;
  }

  .message-message {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
    word-wrap: break-word;
    margin-top: 30px;
  }

  .message-info {
    font-size: 13px;
    font-weight: 500;
    width: 55px;
    display: inline-block;
  }

  hr {
    border-top: 2px solid $third-color-darker;
    width: 100%;
  }

  .no-message-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 50px;
      font-weight: 300;
      color: $third-color-lighter;
    }
  }

}