$primary-color             : #161C20;
$primary-color-soft        : #1C252A;
$secondary-color           : #C8333A;
$third-color               : #E5EAEB;
$third-color-darker        : #C9D1D6;
$fourth-color              : #6BB7C7;

$primary-text-color        : #262D2F;
$green                     : #3AB25C;